@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="mx-auto my-10 max-w-md">
    <h1 class="mb-6 text-center text-3xl font-bold">@ViewData["Title"]</h1>

    <section class="rounded-lg bg-white p-6 shadow-md">
        <form id="account" method="post" class="space-y-4">
            <div asp-validation-summary="ModelOnly" class="mb-4 text-center text-red-500" role="alert"></div>
            <div class="flex flex-col gap-y-2">
                <label asp-for="Input.Email" class="font-medium text-gray-700"></label>
                <input asp-for="Input.Email" class="w-full rounded-md border p-2" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-sm text-red-500"></span>
            </div>
            <div class="flex flex-col gap-y-2">
                <label asp-for="Input.Password" class="font-medium text-gray-700"></label>
                <input asp-for="Input.Password" class="w-full rounded-md border p-2" autocomplete="current-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.Password" class="text-sm text-red-500"></span>
            </div>
            <div class="flex items-center gap-x-2">
                <input class="form-check-input" asp-for="Input.RememberMe" />
                <label asp-for="Input.RememberMe" class="text-gray-700">@Html.DisplayNameFor(m => m.Input.RememberMe)</label>
            </div>
            <div class="mt-4">
                <button id="login-submit" type="submit" class="w-full cursor-pointer rounded bg-indigo-600 px-4 py-2 text-white hover:bg-indigo-700">Log in</button>
            </div>
            <div class="mt-4 space-y-2">
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword" class="text-blue-600 hover:underline">Forgot your password?</a>
                </p>
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-blue-600 hover:underline">Register as a new user</a>
                </p>
                <p>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="text-blue-600 hover:underline">Resend email confirmation</a>
                </p>
            </div>
        </form>
    </section>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
