@page
@model Garage301.Areas.Identity.Pages.Account.RegisterConfirmationModel
@{
    ViewData["Title"] = "Registration Confirmation";
}

<div class="mx-auto mt-10 max-w-lg rounded-md bg-white p-6 shadow-lg">
    <h1 class="text-center text-3xl font-bold">@ViewData["Title"]</h1>
    <p class="mt-6 text-center text-lg font-bold text-gray-700">Thank you for registering!</p>
    <a asp-page="/Account/Login" class="mt-6 block text-center text-indigo-600 hover:underline">Back to Login</a>
</div>
